<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Tech </span> <span>Blog</span></h1>
      <p>
        <marquee behavior="" direction="">
        This is an Blog app for posting tech related contents.
      </p>
    </marquee>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + 91 7834354654
        </span>
        <span>
          <i class="fas fa-envelope"></i>

          <a href="mailto:support@inovotek.com">
            support@blogapp.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <!-- <a href="https://www.youtube.com/c/inovotek-academy"> -->
          <i class="fab fa-youtube"></i>
        </a>
        <!-- <a href="https://www.youtube.com/c/inovotek-academy"> -->
          <i class="fab fa-instagram"></i>
        </a>
        <!-- <a href="https://www.youtube.com/c/inovotek-academy"> -->
          <i class="fab fa-twitter"></i>
        </a>
        <!-- <a href="https://www.youtube.com/c/inovotek-academy"> -->
          <i class="fab fa-facebook"></i>
        </a>

  </footer>